@tailwind base;
@tailwind components;
@tailwind utilities;


.range{
    --range-shdw: #c0e9f1;
}

.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked="true"] {
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-color: #c0e9f1;
    background-image: linear-gradient(-45deg, transparent 65%, #c0e9f1 65.99%),
      linear-gradient(45deg, transparent 75%, #c0e9f1 75.99%),
      linear-gradient(-45deg, #c0e9f1 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        #c0e9f1 30%,
        white 30.99%,
        white 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, white 50%, #c0e9f1 50.99%);
}